{% extends 'base.html' %}
{% load static %}

{% block title %}Log In - Beard & Blade{% endblock %}

{% block content %}
<!-- Login Section -->
<section class="mb-5">
  <div class="container mt-4 pt-4">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-5 m-auto">
        <div class="card border-0 shadow" style="background-color: rgb(60, 60, 60)">
          <div class="card-body">
            <!-- User Icon -->
            <h4 class="text-white text-center"><i class="bi bi-person-circle text-white d-block mx-auto my-3"
                style="font-size: 30px;"></i>Log in to your account</h4>
            <form method="post" id="login-form">
              {% csrf_token %}
              <!-- Username Input Field -->
              <input type="text" name="username" id="email-box" class="form-control my-4 py-2"
                placeholder="Email Address" autocomplete="username">
              <!-- Password Input Field with Toggle Icon -->
              <div class="input-group my-4">
                <input type="password" name="password" id="password-box" class="form-control py-2"
                  placeholder="Password" autocomplete="current-password">
                <span class="input-group-text bg-white password-toggle" data-target="password-box"
                  style="cursor: pointer;">
                  <i class="bi bi-eye-slash"></i>
                </span>
              </div>
              <!-- Login Button and Sign Up Link -->
              <div class="text-center mt-3">
                <button id="lgn-btn" type="submit" class="btn text-white px-2 py-lg-1 rounded-3"
                  style="background-color: #4e3629;">Log in</button>
                <a href="{% url 'register' %}" class="nav-link text-white">Don't have an account? Sign Up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}