{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Link Sent - Beard & Blade{% endblock %}

{% block content %}
<section class="mb-5">
  <div class="container mt-4 pt-4">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-5 m-auto">
        <div class="card border-0 shadow" style="background-color: rgb(60, 60, 60)">
          <div class="card-body text-center">
            <h4 class="text-white mb-4">Reset Link Sent</h4>
            <p class="text-white">
              If an account with the email you provided exists, a password reset link has been sent to it.
              Please check your inbox (and spam folder) for further instructions.
            </p>
            <a href="{% url 'login' %}" class="btn btn-brown text-white">Return to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
