{% extends 'base.html' %}
{% load static %}

{% block title %}Password Changed - Beard & Blade{% endblock %}

{% block content %}
<!-- Passwrod change done section -->
<section class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="container text-center">
    <h2 class="text-white">Your password has been successfully changed.</h2>
    <a href="{% url 'profile' %}" class="btn btn-lg text-white" style="background-color: #6c757d;">Return to Profile</a>
  </div>
</section>
{% endblock %}