{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up - Beard & Blade{% endblock %}

{% block content %}
<section class="mb-5">
    <div class="container mt-4 pt-4">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-5 m-auto">
                <div class="card border-0 shadow"  style="background-color: rgb(60, 60, 60)">
                    <div class="card-body">

                        <h4 class="text-white text-center"><i
                                class="bi bi-person-circle text-white d-block mx-auto my-3"
                                style="font-size: 30px;"></i>Create your account</h4>
                        <form method="post" id="signup-form">
                            {% csrf_token %}
                            <input type="text" name="username" id="username-box" class="form-control my-4 py-2"
                                placeholder="Username" autocomplete="username">
                            <input type="email" name="email" id="email-box" class="form-control my-4 py-2"
                                placeholder="Email Address" autocomplete="email">
                            <!-- Create Password Field -->
                            <div class="input-group my-4">
                                <input type="password" name="password1" id="password1-box" class="form-control py-2"
                                    placeholder="Create Password" autocomplete="new-password">
                                <span class="input-group-text bg-white password-toggle" data-target="password1-box"
                                    style="cursor: pointer;">
                                    <i class="bi bi-eye-slash"></i>
                                </span>
                            </div>
                            <!-- Re-enter Password Field -->
                            <div class="input-group my-4">
                                <input type="password" name="password2" id="password2-box" class="form-control py-2"
                                    placeholder="Re-enter Password" autocomplete="new-password">
                                <span class="input-group-text bg-white password-toggle" data-target="password2-box"
                                    style="cursor: pointer;">
                                    <i class="bi bi-eye-slash"></i>
                                </span>
                            </div>
                            <div class="text-center mt-3">
                                <button id="signup-btn" type="submit" class="btn text-white px-2 py-lg-1 rounded-3"
                                    style="background-color: #4e3629;">Sign Up</button>
                                <a href="{% url 'login' %}" class="nav-link text-white">Already have an account? Log In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}